@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900');

body {
    margin: 0px;
    background-color: #212121;
    color: #EEBA2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lexend";
    height: 80vh;
}

h1 {
    
}

input {
    border-radius: 8px;
    border: none;
    background-color: #f1f1f1;
    width: 50%;
    /* height: 2rem; */
    padding: 12px;
    padding-left: 20px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #EEBA2C;
    border-radius: 5px;
    cursor: pointer;
}



#load {
    display: none;
}

/* From Uiverse.io by satyamchaudharydev */ 
.spinner {
    --clr: #EEBA2C;
    --gap: 6px;
    /* gap between each circle */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.spinner span {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--clr);
    opacity: 0;
}

.spinner span:nth-child(1) {
 animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
 animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
 animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {
 0%, 100% {
  opacity: 1;
 }

 60% {
  opacity: 0;
 }
}
